<div id="mainContent" class="contrast-content">
    <div id="headerTop" class="boxshadow default-flytest-ht">
        <span class="fl hotword">选择监测游戏</span>
        <div class="tg-search-drop" id="gameDropChoose"></div>
    </div>
    <div class="container-fluid suddenly-part" id="contentPart">
        <div class="blockpart   col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="part-title">问题监测</h3>
            <div class="boxshadow ">
                <div class="suddenly-graph">
                    <div class="switch-btn">
                        <div class="switch-part"></div>
                        <span>邮件设置</span>
                    </div>
                    <div id="bs_suddenly_chart" class="b_chart"></div>
                </div>
                <div class="article-list">
                    <div class="top"><span></span></div>
                    <ul class="left-list boxshadow">
                        <div class="scroll-wrap" id="lt_forum_list"></div>
                        <ul class="tg-page-list" id="lt_forum_page"></ul>
                    </ul>
                    <ul class="detail-right">
                        <div class="scroll-wrap" id="lt_forum_detail"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>