<div id="headerTop" class="boxshadow default-flytest-ht"></div>
<div class="container-fluid insidelog-part" id="contentPart">
    <div class="tg-table-layout  assistant blockpart  col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>监控中的任务</h3>
        <div class="boxshadow tg-table-content">
            <div class="tg-table-wrap">
                <div class="tg-select-filter">
                    <div>
                        <span>您可以定制推送消息发送到邮箱，图表化数据可以让您快速了解所关注的关键词助您发现问题。</span>
                        <button class="tg-main-btn">添加任务</button>
                    </div>
                </div>
                <div class="table-out-wrap" id="lt_item_list"></div>
                <ul class="tg-page-list" id="lt_forum_page"></ul>
            </div>
        </div>
    </div>
</div>