<div id="mainContent">
    <div id="headerTop" class="boxshadow default-flytest-ht"></div>
    <div class="container-fluid insidelog-part" id="contentPart">
        <div class="tg-table-layout  blockpart  col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover more-width">玩家属性查询
           <div class="tip-box-show">
                        <i class="triangle-up"></i>
                        <div class="tip-box-content">
                           流失概率: 之后7日（不含当日）不再登录的概率<br>
                            付费意愿：之后7日（不含当日）玩家付费的意愿强度，取值范围为0~1，非常强烈的意愿为1<br>
                            游戏风格: 提炼玩家活跃习惯得到玩家的最可能游戏风格<br>
                            付费风格: 提炼玩家付费习惯得到玩家的最可能付费风格<br>
                            付费空间: 预测玩家在之后30日（不含当日）的累计付费金额<br>
                            推荐商品：预测玩家在之后7日（不含当日）的最有可能购买商品
                        </div>
              </div>
            </h3>
            <div class="boxshadow tg-table-content">
                <ul class="boxshadow tg-tab-change" id="tab_list_li"></ul>
                <div id="lt_main_area"></div>
                <div class="boxshadow tg-table-operation">
                    <ul class="fr">
                        <li><b>下载数据</b><i class="tg-icon tg-download" id="bs_btn_down"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>