<div id="headerTop" class="boxshadow default-flytest-ht"></div>
<div class="container-fluid talk-part" id="contentPart">
    <div class="tg-table-layout assistant  talk blockpart  col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>聊天分析任务</h3>
        <div class="boxshadow tg-table-content">
            <div class="tg-table-wrap">
                <div class="tg-select-filter">
                    <div id="bs_info_title"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h3>聊天者情感占比</h3>
        <div class="boxshadow  talk-two-layout">
            <div class="talk-left fl" id="lt_emotion_percent"></div>
            <div class="talk-graph" id="bs_emotion_percent"></div>
        </div>
    </div>
    <div class="blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h3>聊天者情感词汇</h3>
        <div class="boxshadow">
            <div class="talk-graph">
                <div class="words-union" id="bs_emotion_word"></div>
            </div>
        </div>
    </div>
    <div class="blockpart  col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>聊天热词统计</h3>
        <div class="boxshadow">
            <div class="talk-graph" id="bs_chatresult_keywords"></div>
        </div>
    </div>
    <div class="tg-table-layout blockpart col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>聊天话题</h3>
        <div class="boxshadow tg-table-content">
            <div class="insidelog-graph" id="bs_chatresult_topic"></div>
            <div class="tg-table-wrap">
                <div class="table-out-wrap" id="bs_topic_list" style="margin-top: -20px"></div>
            </div>
        </div>
    </div>
    <div class="blockpart  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="talk_result">
        <h3>活跃成员</h3>
        <div class="boxshadow">
            <div id="bs_user"></div>
        </div>
    </div>
</div>