<div id="mainContent" class="contrast-content">
    <div id="headerTop" class="boxshadow default-flytest-ht">
        <span class="fl hotword">追踪群体</span>
        <div class="tg-search-drop narrow-width" id="changeTagZone1">
            <p class="tg-drop-text-part"><i class="tg-graph tg-triangle-gray-bottom"></i><span>全用户</span></p>
        </div>
    </div>
    <div class="container-fluid " id="contentPart">
        <div class="blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">关注类目
           <div class="tip-box-show">
                        <i class="triangle-up"></i>
                        <div class="tip-box-content">
                           用户关注度高的贴吧所属类别的统计，具体大类（除去游戏大类）有体育、动漫、影视、文学、科技、追星、音乐7项。
                        </div>
              </div>
            </h3>
            <div class="boxshadow  face-part" id="lt_item_list"></div>
        </div>
        <div class=" blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">贴吧关注分布
           <div class="tip-box-show">
                        <i class="triangle-up"></i>
                        <div class="tip-box-content">
                           根据60天内活跃用户对各大贴吧的关注人数进行排序。
                        </div>
              </div>
            </h3>
            <div class="boxshadow face-part">
                <ul class="face-title-list">
                    <li>全类目贴吧关注排行</li>
                    <li>游戏类贴吧关注排行</li>
                </ul>
                <div class="table-contrast">
                    <ul class="fl" id="str_attention_forum"></ul>
                    <ul class="fr" id="str_attention_game"></ul>
                </div>
            </div>
        </div>
        <div class=" blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">活跃用户数
           <div class="tip-box-show">
                        <i class="triangle-up"></i>
                        <div class="tip-box-content">
                           当日有发言行为的用户数量。
                        </div>
              </div>
            </h3>
            <div class="boxshadow face-part">
                <div class="b_chart" id="chart_hot_value"></div>
            </div>
        </div>
        <div class=" blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3>玩家发言情况</h3>
            <div class="boxshadow face-part" id="tab_message_li">
                <div class="pictorial">
                    <ul class="tg-tab-btn fl">
                        <li class="tg-tab-btn-normal tg-tab-btn-selected tip-hover">主贴发言量
                            <div class="tip-box-show">
                                <i class="triangle-up"></i>
                                <div class="tip-box-content">
                                    每100位用户当日发表主题帖的数量。
                                </div>
                            </div>
                        </li>
                        <li class="tg-tab-btn-normal tip-hover">回复贴发言量
                            <div class="tip-box-show">
                                <i class="triangle-up"></i>
                                <div class="tip-box-content">
                                  每100位用户当天回复主题帖的数量。
                                </div>
                            </div>
                        </li>
                        <li class="tg-tab-btn-normal  tip-hover">发言响应量
                            <div class="tip-box-show">
                                <i class="triangle-up"></i>
                                <div class="tip-box-content">
                                   该类用户的主题帖，帖均被回复的数量。
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="b_chart_area">
                    <div class="b_chart" id="chart_title_num"></div>
                </div>
            </div>
        </div>
        <div class=" blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">活跃时间段分布
           <div class="tip-box-show">
                                        <i class="triangle-up"></i>
                                        <div class="tip-box-content">
                                         该类用户发言的时段在24小时中的分布情况。
                                        </div>
                              </div>
            </h3>
            <div class="boxshadow face-part">
                <div class="b_chart" id="chart_post_hour"></div>
            </div>
        </div>
        <div class=" blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">吧龄及粉丝魅力对比</h3>
            <div class="boxshadow face-part" id="tab_age_li">
                <div class="pictorial">
                    <ul class="tg-tab-btn fl">
                        <li class="tg-tab-btn-normal tg-tab-btn-selected tip-hover">吧龄分布
                          <div class="tip-box-show">
                                        <i class="triangle-up"></i>
                                        <div class="tip-box-content">
                                         该类用户的贴吧吧龄所占比例分布。
                                        </div>
                              </div>
                        </li>
                        <li class="tg-tab-btn-normal tip-hover">粉丝魅力
                          <div class="tip-box-show">
                                        <i class="triangle-up"></i>
                                        <div class="tip-box-content">
                                        该类用户的被其他用户关注的比例分布。
                                        </div>
                              </div>
                        </li>
                    </ul>
                </div>
                <div class="b_chart_area">
                    <div class="b_chart" id="chart_tieba_age"></div>
                </div>
            </div>
        </div>
        <div class=" blockpart  col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h3>男女比例</h3>
            <div class="boxshadow face-part-percent" id="lt_gender_compare"></div>
        </div>
        <div class=" blockpart  col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h3>地域分布</h3>
            <div class="boxshadow face-part">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="b_chart" id="bs_map_distribute" style="height: 450px"></div>
                </div>
                <div id="areaPart">
                    <div class="py_mplist" id="bs_line_distribute"></div>
                </div>
            </div>
        </div>
    </div>
</div>
