<div id="mainContent" class="contrast-content">
    <div id="headerTop" class="boxshadow default-flytest-ht"></div>
    <div class="container-fluid " id="contentPart">
        <div class=" blockpart  col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h3>男女比例</h3>
            <div class="boxshadow face-part-percent" id="lt_gender_compare"></div>
        </div>
        <div class=" blockpart  col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h3>地域分布</h3>
            <div class="boxshadow face-part" id="bs_face_area"></div>
        </div>
        <div class=" blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">玩家活跃情况
                <div class="tip-box-show">
                    <i class="triangle-up"></i>
                    <div class="tip-box-content">
                        60天内在贴吧发言的用户定义为活跃用户。根据用户平均的发言数量排序,高活跃玩家、中活跃玩家分别指近30天内有发言且发言量水平在前40%用户、近30天内有发言的其他发言用户。
                    </div>
                </div>
            </h3>
            <div class="boxshadow face-part" id="bs_face_dynamic"></div>
        </div>
        <div class=" blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">玩家号召情况
                <div class="tip-box-show">
                    <i class="triangle-up"></i>
                    <div class="tip-box-content">
                        60天内在贴吧发过主题帖的用户定义为号召用户。根据发言被其他用户回复响应的数量排序,高号召玩家、中号召玩家分别指号召力前10%、号召力前10%-前40%的玩家。
                    </div>
                </div>
            </h3>
            <div class="boxshadow face-part" id="bs_face_callupon"></div>
        </div>
        <div class="blockpart col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">关注类目
                <div class="tip-box-show">
                    <i class="triangle-up"></i>
                    <div class="tip-box-content">
                        用户关注度高的贴吧所属类别的统计，具体大类（除去游戏大类）有体育、动漫、影视、文学、科技、追星、音乐7项。
                    </div>
                </div>
            </h3>
            <div class="boxshadow face-part" id="lt_item_list"></div>
        </div>
        <div class=" blockpart  col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h3 class="tip-hover">玩家抱怨情况
                <div class="tip-box-show">
                    <i class="triangle-up"></i>
                    <div class="tip-box-content">
                        展示ThinkingGame平台已收录游戏的活跃度和玩家抱怨情况，横坐标代表游戏的用户活跃度，越往右游戏的用户活跃度越高。纵坐标代表用户舆情抱怨指数，越往上游戏的用户抱怨度越高。标签位置为当前游戏的活跃和抱怨情况。
                    </div>
                </div>
            </h3>
            <div class="boxshadow face-part complaint-img" id="bs_face_complain">

            </div>
        </div>
        <div class=" blockpart  col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>关键玩家</h3>
            <div class="boxshadow  face-advertisement-wrap">
                <div class="face-advertisement">
                    <div>
                        <b id="num_high_charm"></b>
                        <p>高魅力用户数</p>
                    </div>
                    <div>
                        <img src="elements2.0/img/face/1.jpg" alt="">
                    </div>
                    <span>指30天内用户影响力、粉丝等综合排名前10%的用户，他们是游戏粉丝收割机</span>
                </div>
                <div class="face-advertisement">
                    <div>
                        <b id="num_high_pay"></b>
                        <p>高付费用户数</p>
                    </div>
                    <div>
                        <img src="elements2.0/img/face/2.jpg" alt="">
                    </div>
                    <span>指30天内通过行为能够判断出的高付费能力玩家，他们是游戏收益提示者</span>
                </div>
                <div class="face-advertisement">
                    <div>
                        <b id="num_trash"></b>
                        <p>广告垃圾用户数</p>
                    </div>
                    <div>
                        <img src="elements2.0/img/face/3.jpg" alt="">
                    </div>
                    <span>指30天内经常发布广告、垃圾等不良信息的用户，他们是舆论环境污染源</span>
                </div>
                <div class="face-advertisement  ">
                    <div>
                        <b id="num_lost"></b>
                        <p>即将流失用户数</p>
                    </div>
                    <div>
                        <img src="elements2.0/img/face/4.jpg" alt="">
                    </div>
                    <span>指30天内通过发言能判断出的即将流失玩家，他们是消极舆论制造者</span>
                </div>
            </div>
        </div>
    </div>
</div>