<div id="mainContent" class="contrast-content">
    <div id="headerTop" class="boxshadow default-flytest-ht">
        <span class="fl hotword">选择监测游戏</span>
        <div class="tg-search-drop" id="gameDropChoose"></div>
        <div class="tg-selected-drop lowheight fr">
            <div>
                <i class="tg-icon tg-date-icon"></i>
                <span>日期</span>
            </div>
            <p class="tg-drop-text-part">
                <i class="tg-graph tg-triangle-gray-bottom"></i>
                <span class="hot-area" id="dc1"></span>
                <input id="db1" type="hidden" value=""><input id="de1" type="hidden" value="">
            </p>
        </div>
    </div>
    <div class="container-fluid hotword-part" id="contentPart">
        <div class="blockpart col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="part-title">热词走势</h3>
            <div class="boxshadow">
                <div class="tg-filter-show">
                    <ul class="hot-filter-list"></ul>
                    <ul class="hotword-graph-show">
                        <div id="bs_hotwrod_tread" class="b_chart"></div>
                    </ul>
                </div>
                <div class="article-list">
                    <div class="top"><span></span></div>
                    <ul class="left-list boxshadow">
                        <div class="scroll-wrap" id="lt_forum_list"></div>
                        <ul class="tg-page-list" id="lt_forum_page"></ul>
                    </ul>
                    <ul class="detail-right">
                        <div class="scroll-wrap" id="lt_forum_detail"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>