<div id="mainContent">
    <div id="headerTop" class="boxshadow default-flytest-ht">
        <div class="tg-selected-drop fr">
            <div>
                <i class="tg-icon tg-date-icon"></i>
                <span>日期</span>
            </div>
            <p class="tg-drop-text-part">
                <i class="tg-graph tg-triangle-gray-bottom"></i>
                <span class="hot-area" id="dc1"></span>
                <input id="db1" type="hidden" value=""><input id="de1" type="hidden" value="">
            </p>
        </div>
    </div>
    <div class="container-fluid insidelog-part" id="contentPart">
        <div id="ct_main_area"></div>
    </div>
</div>