<div id="mainContent">
    <div id="headerTop" class="boxshadow default-flytest-ht">
        <div class="tg-selected-drop fr">
            <div>
                <i class="tg-icon tg-date-icon"></i>
                <span>日期</span>
            </div>
            <p class="tg-drop-text-part">
                <i class="tg-graph tg-triangle-gray-bottom"></i>
                <span class="hot-area" id="dc1"></span>
                <input id="db1" type="hidden" value=""><input id="de1" type="hidden" value="">
            </p>
        </div>
    </div>
    <div class="container-fluid insidelog-part" id="contentPart">
        <div class="tg-table-layout  blockpart  col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>海量日志搜索</h3>
            <div class="boxshadow tg-table-content">
                <ul class="boxshadow tg-tab-change" id="tab_list_li"></ul>
                <div id="lt_main_area">
                    <div class="graph-show-part "></div>
                    <div class="tg-table-wrap"></div>
                </div>
                <div class="boxshadow tg-table-operation">
                    <ul class="fr">
                        <li><b>下载数据</b><i class="tg-icon tg-download" id="bs_btn_down"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>