<style>
    .post-part > div > .post3 .des h1 {
    font-weight: bold;
    color: #e2bf79;
    margin-bottom: 10px;
    margin-top: 0;
}

.post-part > div > .post3 .des p {
  color: #e2bf79;
  font-size: 17px;
}

.post-part > div > .post3 .des h1+p+p {
    position: absolute;
    bottom: -25px;
    width: 100%;
}

.post-part > div > .post3 .des h2 {
    font-size: 17px;
    font-weight: bold;
    color: #e2bf79;
    position: absolute;
    bottom: -55px;
    width: 100%;
    text-align: center;
}

.post-part > div > .post3 .des {
    margin-top: -120px  !important;
}

.post-part > div > .post3 .des h1+p {
    font-size: 20px;
}
</style>
<div class="container-fluid homepage" id="contentFullPart">
    <div class="row">
        <div class="three-height blockpart  tg-four  col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <h3><i class="tg-icon tg-title-icon tg-title-icon-1"></i>智能分析</h3>
            <div class="boxshadow smart" id="ls_inside_game"></div>
        </div>
        <div class="three-height blockpart   tg-four col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <h3><i class="tg-icon tg-title-icon tg-title-icon-2"></i>舆情雷达</h3>
            <div class="boxshadow smart" id="ls_history_game"></div>
        </div>
        <div class="three-height  blockpart  tg-four  col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <h3><i class="tg-icon tg-title-icon tg-title-icon-3"></i>专业服务</h3>
            <div class="boxshadow smart" id="ls_report_service"></div>
        </div>
    </div>
    <div class="row" id="lt_game_list"></div>
    <div class="row  post-part ">
        <div class="blockpart  col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3>产品介绍</h3>
            <a class="boxshadow post1" href="" id="ln_product_adv" target="_blank">
                <div class="des">
                    <h1>智能化游戏运营服务平台</h1>
                    <p>以大数据和人工智能技术为核心</p>
                    <p>结合运营统计、玩家行为与玩家舆情反馈数据</p>
                    <p>挖掘出玩家隐藏的关联特征</p>
                    <p>给运营提供统计、挖掘、预测、分类、精准营销、智能推荐等服务</p>
                </div>
            </a>
        </div>
        <div class="blockpart   tg-four col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3>核心技术</h3>
            <a class="boxshadow post2" href="sigma.html" target="_blank">
                <div class="des">
                    <h1>Sigma<span class="tm">TM</span>一一核心底层系统</h1>
                    <p>为挖掘“暗数据”而生 深入业务场景的计算</p>
                    <p>兼顾运算效率及数据安全 及时获取全量数据</p>
                </div>
            </a>
        </div>
        <div class="blockpart  tg-four  col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3>最新活动</h3>
            <div class="boxshadow post3">
                <div class="des">
                    <h1>ThinkingGame高峰闭门论剑</h1>
                    <p>邀您畅谈游戏运营的那些事儿</p>
                    <p>盛大、臻游、游久、空中网、爱扑、电魂</p>
                    <h2>持续举办中...</h2>
                </div>
            </div>
        </div>
    </div>
</div>
