<div class="container-fluid personalcenter-content" id="contentFullPart">
    <div class="row">
        <div class=" blockpart col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h3>账户信息</h3>
            <div class="boxshadow p-person-infor">
                <div class="top-wrap">
                    <img src="elements2.0/img/lr/default-pic.jpg" alt="">
                    <ul class="des" id="bs_user_info"></ul>
                </div>
                <div class="infor-content">
                    <ul class="des" id="bs_user_status"></ul>
                </div>
            </div>
        </div>
        <div class=" blockpart col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <h3>基本信息</h3>
            <div class="boxshadow p-base-infor" id="bs_user_check"></div>
        </div>
    </div>
</div>