<div id="mainContent">
    <div id="headerTop" class="boxshadow default-flytest-ht">
        <div class="tg-top-search gray-top-search">
            <div class="search-wrap">
                <input type="text" name="k" placeholder="搜索玩家ID或角色名" maxlength="100">
                <i class="tg-icon tg-search-btn" id="bs_btn_main_search"></i>
                <span class="tg-assist-btn" id="bs_btn_self">自定义搜索</span>
            </div>
        </div>
    </div>
    <div class="auto-search-pop boxshadow"></div>
    <div class="container-fluid insidelog-part" id="contentPart">
        <div id="ct_main_area"></div>
    </div>
</div>