<div id="headerTop" class="boxshadow default-flytest-ht"></div>
<div class="container-fluid report-part" id="contentPart">
    <div class="report-b">
        <span class="report-banner"></span>
        <div class="des">
        	<h2>思以智胜的定制化解决方案</h2>
        	<p> 充分利用大数据和人工智能技术的力量，发挥人机结合的优势，</p>
        	<p>深度解读玩家历史行为数据，分析产品的优缺点，找到产品改进的关键因素，</p>
        	<p>为您的产品量身打造思以智胜的定制化解决方案。</p>
        </div>
        <div class="btn-union">
            <a class="tg-main-btn" id="bs_qq">在线咨询</a>
        </div>
    </div>
    <div class="blockpart  col-lg-12 col-md-12 col-sm-12 col-xs-12" id="lt_reports_item"></div>
</div>