@charset "UTF-8";
.round-button {
    margin-left: 36px;
    padding-left: 54px;
    position: relative;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}

.round-button:hover,
.round-button:visited {
    text-decoration: inherit;
    color: #ffffff;
}

.round-button:visited {
    color: #ffffff;
}

.round-button:before {
    content: "...";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -18px;
    height: 36px;
    width: 36px;
    margin-top: -20px;
    text-align: center;
    font-size: 25px;
    display: block;
    left: 0;
    line-height: 20px;
    margin-left: 0;
    color: #555;
    background: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.round-button:hover:before {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.about-content {
    top: 380px;
    left: 50%;
    width: 1000px;
    margin: 0 auto;
}

.about-content .about-ad {
    width: 960px;
    margin: 0 auto;
    height: 640px;
}

.about-content .about-ad a.abg2 {
    background-position: -320px 0;
}

.about-content .about-ad a.abg2:hover {
    background-position: -320px 0;
}

.about-content .about-ad a.abg3 {
    background-position: 0px -320px;
}

.about-content .about-ad a.abg3:hover {
    background-position: 0px -320px;
}

.about-content .about-ad a.abg4 {
    background-position: -320px -320px;
}

.about-content .about-ad a.abg4:hover {
    background-position: -320px -320px;
}

.about-content .about-ad a {
    display: block;
    float: left;
    width: 320px;
    height: 320px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    background: url(http://td2-image.ufile.ucloud.com.cn/assets/images/abg.jpg) no-repeat;
}

.about-content .about-ad a:hover,
.about-content .about-ad a:visited {
    text-decoration: inherit;
    color: #ffffff;
}

.about-content .about-ad a:visited {
    color: #ffffff;
}

.about-content .about-ad a:hover {
    background: url(http://td2-image.ufile.ucloud.com.cn/assets/images/abg-hover.jpg) no-repeat;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.about-content .about-ad a .des-title h2 {
    font-size: 30px;
    color: #ffffff;
    width: 210px;
    line-height: 50px;
}

.about-content .about-ad a .des-title p {
    font-size: 18px;
    margin-top: 10px;
}

.about-content .about-ad a div {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
    padding-left: 30px;
}

.about-content .about-ad a div.pdes p {
    font-size: 35px;
    color: #424242;
    line-height: 65px;
    font-weight: bold;
}

.about-content .about-ad a.first {
    background: #ffffff;
    height: 360px;
    padding: 70px 0px;
    cursor: default;
    color: #000000;
    text-decoration: none;
}

.about-content .about-ad a.first:hover,
.about-content .about-ad a.first:visited {
    text-decoration: inherit;
    color: #000000;
}

.about-content .about-ad a.first:visited {
    color: #000000;
}

.about-content .about-ad a.first .ad-title {
    color: #0E7FCD;
    margin-left: 30px;
    margin-bottom: 10px;
}

.about-content .about-ad a.first .ad-title-desc {
    margin-left: 30px;
}

.about-content .about-newser-title {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 1010px;
    border-bottom: 2px solid #a9a9a9;
    text-align: center;
    font-size: 25px;
    color: #424242;
}

.about-content .about-newer {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 10%;
    position: relative;
}

.about-content .about-newer a.more-infor {
    position: absolute;
    bottom: 50px;
    font-size: 18px;
    color: #a9a9a9;
    text-decoration: none;
    left: 50%;
    margin-left: -70px;
    cursor: pointer;
}

.about-content .about-newer a {
    width: 20%;
    float: left;
    margin-top: 5%;
    cursor: default;
}

.about-content .about-newer a img {
    margin-left: 24px;
}

.footer {
    background: #e5e5e5;
    height: 380px;
    margin-top: 40px;
}

.footer .icon-list {
    width: 1192px;
    padding-top: 40px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.footer .icon-list .round-button {
    color: #555;
}

.footer .icon-list div {
    width: 390px;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

.footer .icon-list div:first-child {
    margin-left: 0;
}

.footer .icon-list div img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.footer-add {
    overflow-y: auto;
}

.footer-add .wrapb {
    background: #000000;
}

.footer-add .wrapa {
    background: #373440;
}

.footer-add .other-infor {
    width: 63%;
    margin: 0 auto;
    background: #000000;
    padding: 30px 45px;
    overflow: hidden;
}

.footer-add .other-infor ul.right {
    float: right;
}

.footer-add .other-infor ul.right li {
    color: #ababab;
    line-height: 18px;
}

.footer-add .other-infor ul.right li.first {
    color: #ffffff;
    position: relative;
    top: -2px;
}

.footer-add .other-infor ul.left {
    float: left;
}

.footer-add .other-infor ul.left ul.text-desc {
    overflow: hidden;
}

.footer-add .other-infor ul.left ul.text-desc li {
    float: left;
    color: #ababab;
    margin-right: 35px;
    line-height: 26px;
}

.footer-add .other-infor ul.left ul.text-desc li img.footer-img {
    width: 80%;
}

.footer-add .other-infor ul.left ul.href-text {
    overflow: hidden;
    margin-bottom: 20px;
}

.footer-add .other-infor ul.left ul.href-text li {
    float: left;
    width: 104px;
}

.footer-add .other-infor ul.left ul.href-text li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.footer-add .code-list {
    width: 75%;
    margin: 0 auto;
    background: #373440;
    overflow: hidden;
    padding: 30px 0;
}

.footer-add .code-list li {
    float: left;
    width: 25%;
}

.footer-add .code-list li img {
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    margin-left: -53px;
}

.footer-add .code-list li p.code-des {
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-add .code-list li p {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

.slider-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.slider-box .slider {
    position: absolute;
    font-size: 0;
}

.slider-box .slider-item {
    float: left;
}

.slider-box .bottom-controllers {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
}

.slider-box .bottom-controllers span {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: #a9a9a9;
    margin-left: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.slider-box .bottom-controllers span:first-child {
    margin-left: 0;
}

.slider-box .bottom-controllers span.active {
    background: #0E7FCD;
}

.slider-controllers {
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: -10px;
    height: 40px;
    width: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.slider-controllers.next-image {
    right: -100px;
    left: auto;
}

.slider-controllers.disable {
    color: red;
}

.slider-controllers:hover .l-bottom {
    transform: translate3d(-1px, 14px, 0px) rotate(70deg);
}

.slider-controllers:hover .l-top {
    transform: translate3d(-1px, 1px, 0px) rotate(-70deg);
}

.slider-controllers:hover .r-bottom {
    transform: translate3d(-1px, 13px, 0px) rotate(-70deg);
}

.slider-controllers:hover .r-top {
    transform: translate3d(-1px, 0px, 0px) rotate(70deg);
}

.prev-image div,
.next-image div {
    position: relative;
    top: 12px;
    left: 10px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 15px;
    height: 1px;
    background-color: #555657;
}

.prev-image .l-bottom,
.next-image .l-bottom {
    transform: translate3d(-1px, 13px, 0px) rotate(45deg);
}

.prev-image .l-top,
.next-image .l-top {
    transform: translate3d(-1px, 3px, 0px) rotate(-45deg);
}

.prev-image .r-bottom,
.next-image .r-bottom {
    transform: translate3d(-1px, 13px, 0px) rotate(-45deg);
}

.prev-image .r-top,
.next-image .r-top {
    transform: translate3d(-1px, 3px, 0px) rotate(45deg);
}

.next-image div {
    left: 15px;
}

.fullpage .section.static-section {
    position: relative;
}

.fullpage > .section {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.fullpage > .section.active {
    background-attachment: fixed;
}

.fullpage > .section > img {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    height: auto;
    margin-bottom: 50px;
}

.fullpage > .section .section-title {
    padding-top: 175px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 35px;
    line-height: 55px;
}

.fullpage > .section .bottom-text {
    position: absolute;
    bottom: 100px;
    display: table-cell;
    text-align: center;
    width: 100%;
}

.fullpage > .section .bottom-text .desc {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
}

.fullpage > .section .bottom-text .desc-box {
    position: relative;
}

.fullpage > .section .bottom-text .desc-box .round-button {
    margin-top: -6px;
    left: auto;
    margin-left: 24px;
}

body {
    font-family: "Microsoft Yahei", "STHeitiSC-Light", "Arial", "sans-serif";
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    bottom: auto;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 40px;
    z-index: 1030;
    background: none;
}

.header.fixed-header {
    background-color: rgba(4, 142, 220, 0.92);
}

.header .navbar-brand {
    position: absolute;
    z-index: 1032;
    top: 25px;
}

.header .navbar-brand img {
    height: 38px;
}

.header.open .full-page-nav-box li a {
    color: #ffffff;
}

.header.open #toggle:hover .menu-button:after,
.header.open #toggle:hover .menu-button:before,
.header.open #toggle .menu-button:after,
.header.open #toggle .menu-button:before {
    top: 0;
    background: #FFFFFF;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.header.open #toggle .menu-button {
    background: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header.open #toggle .menu-button:after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header.open #toggle .menu-button:before {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header #toggle {
    position: absolute;
    height: 22px;
    width: 22px;
    right: 40px;
    top: 30px;
    z-index: 1032;
    cursor: pointer;
}

.header #toggle:hover .menu-button {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header #toggle:hover .menu-button:before {
    top: -10px;
}

.header #toggle:hover .menu-button:after {
    bottom: -10px;
}

.header #toggle .menu-button {
    position: relative;
    top: 10px;
    width: 22px;
    height: 3px;
    background: #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.header #toggle .menu-button:before,
.header #toggle .menu-button:after {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    background: inherit;
    border-radius: inherit;
}

.header #toggle .menu-button:before {
    top: -8px;
}

.header #toggle .menu-button:after {
    bottom: -8px;
}

.header .full-page-nav-box {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(4, 142, 220, 0.92);
    z-index: 1030;
    color: #ffffff;
}

.header .full-page-nav-box .full-page-nav {
    position: absolute;
    width: 100%;
    height: 396px;
    margin-bottom: 100%;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

.header .full-page-nav-box .full-page-nav a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.header .full-page-nav-box .full-page-nav a:hover {
    background: #ffffff;
    color: #0E7FCD;
}

body {
    font-family: Microsoft Yahei, STHeitiSC-Light, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

* {
    padding: 0;
    margin: 0;
}

.mheader {
    /**********************************************1680px浠ヤ笅*/
    /**********************************************1440px浠ヤ笅*/
    /*************************************************1366px浠ヤ笅*/
    /*****************************************************1280px浠ヤ笅*/
    /*****************************************************1024px浠ヤ笅*/
    /******************************************************************楂樺害900浠ヤ笅*/
    /******************************************************************楂樺害650浠ヤ笅*/
    /****************************************************************************澶у睆*/
    /* 绔栧睆iPhone6p*/
    /*UC*/
}

.mheader .full-page-nav-box .hadlogin {
    position: absolute;
    bottom: 1.5rem;
    right: 0rem;
    display: none;
}

.mheader .full-page-nav-box .hadlogin img {
    width: 25%;
}

.mheader .full-page-nav-box .button-wrap {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.mheader .full-page-nav-box .button-wrap button.login-btn {
    background: #ffffff;
    border: 0.05rem solid #ffffff;
    margin-left: 40%;
}

.mheader .full-page-nav-box .button-wrap button.login-btn a {
    color: #1396f2;
}

.mheader .full-page-nav-box .button-wrap button.register-btn {
    background: transparent;
    border: 0.05rem solid #ffffff;
}

.mheader .full-page-nav-box .button-wrap button {
    width: 25%;
    height: 1.5rem;
    border-radius: 0.3rem;
}

.mheader .full-page-nav-box .button-wrap button a {
    font-size: 0.6rem;
    padding: 0;
    line-height: 1.5rem;
    text-decoration: none;
    color: #ffffff;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist {
    width: 70%;
    margin: 0 auto;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist li.nav {
    border-bottom: 0.1rem solid #ffffff;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist li .show {
    border-bottom: 0.05rem solid #ffffff;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist li .hide {
    display: none;
    border-top: 0.05rem solid #ffffff;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist li .togglenav {
    padding-left: 0.5rem;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist li a.active {
    color: #b3b3b3;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist li a {
    text-align: left;
    font-size: 0.6rem;
    padding-left: 20%;
    display: block;
    padding: 0.5rem 0 0.5rem 1rem;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist li a:hover {
    background: transparent;
    color: #ffffff;
}

.mheader .full-page-nav-box .full-page-nav .m-navlist li .nav {
    border-bottom: 0.05rem solid #ffffff;
}

@media screen and (max-width: 1680px) {
    .mheader {
        /*about*/
    }
    .mheader .text-wrapp {
        width: 70%;
    }
    .mheader .manage-card-content .manage-card-list {
        width: 69%;
    }
    .mheader .content.join .bbbb .slider .slider-item .position-desc-wrap {
        margin: 100px 220px 0 220px;
    }
    .mheader .footer-add .other-infor {
        width: 73%;
    }
    .mheader .footer-add .code-list {
        width: 88%;
    }
}

@media screen and (max-width: 1440px) {
    .mheader {
        /*about*/
        /*sigma*/
        /*partners*/
    }
    .mheader .about-slider .text-wrapp {
        width: 81%;
    }
    .mheader img.personal-pic {
        right: 12%;
    }
    .mheader .content.join .bbbb .slider .slider-item .position-desc-wrap {
        margin: 100px 220px 0 220px;
    }
    .mheader .manage-card-content .manage-card-list {
        width: 81%;
    }
    .mheader .partner-icon-list {
        width: 76%;
        padding: 0 12%;
    }
}

@media screen and (max-width: 1366px) {
    .mheader {
        /*about*/
        /*join*/
    }
    .mheader img.personal-pic {
        right: 10%;
    }
    .mheader .text-wrapp {
        width: 85%;
    }
    .mheader .partner-icon-list {
        width: 76%;
        padding: 0 10%;
    }
    .mheader .footer .icon-list div {
        width: 366px;
    }
    .mheader .footer .icon-list {
        width: 1120px;
    }
    .mheader .content.join .bbbb .slider .slider-item .position-desc-wrap {
        margin: 80px 220px 0 220px;
    }
    .mheader .content.platform .platform-section2 {
        height: 733px;
    }
    .mheader .footer-add .other-infor {
        width: 84%;
    }
    .mheader .footer-add .code-list {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .mheader {
        /*sigma*/
        /*join*/
    }
    .mheader .manage-card-content .manage-card-list {
        width: 61%;
    }
    .mheader .content.join .slider-wrap {
        height: 720px;
    }
    .mheader .slider-box .bottom-controllers {
        bottom: 25px;
    }
    .mheader .content.join .bbbb .slider .slider-item .position-desc-wrap {
        margin: 60px 220px 0 220px;
    }
    .mheader .content.platform .platform-section2 {
        height: 686px;
    }
    .mheader .footer-add .other-infor {
        width: 84%;
    }
    .mheader .footer-add .code-list {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .mheader .about-section1 .text-wrap {
        width: 90%;
    }
    .mheader .about-section1 .text-wrap h2,
    .mheader .about-section2 .text-wrap h2,
    .mheader .about-logo h2,
    .mheader .card-content h2,
    .mheader .text-wrapp .text-width h2,
    .mheader .partner-header h2,
    .mheader .content.join .bbbb .slider .slider-item .position-desc-wrap .position-name,
    .mheader .content.platform .platform-section1 .bottom-text .text-wrap h2.section-title,
    .mheader .content.platform .platform-section2 .text-wrap h2.section-title,
    .mheader .content.platform .platform-section3 .text-wrap h2.section-title,
    .mheader .content.platform .platform-section4 .text-wrap h2.section-title,
    .mheader .management-section1 .text-wrap h2.m1-title {
        font-size: 30px;
    }
    .mheader .about-section1 .text-wrap p,
    .mheader .about-section2 .text-wrap p,
    .mheader .about-logo p,
    .mheader .card-content p,
    .mheader .text-wrapp .text-width p,
    .mheader .partner-header p,
    .mheader .content.join .bbbb .slider .slider-item .position-desc-wrap p.position-descr,
    .mheader .content.join .bbbb .slider .slider-item .position-desc-wrap .work-duty h2,
    .mheader .content.platform .platform-section1 .bottom-text .text-wrap p.desc,
    .mheader .content.platform .platform-section2 .text-wrap p.desc,
    .mheader .content.platform .platform-section3 .text-wrap p.desc,
    .mheader .content.platform .platform-section4 .text-wrap p.desc,
    .mheader .content.platform .platform-section4 .mid-content .mid-list h2,
    .mheader .management-section1 .text-wrap p.desc,
    .mheader .management-section2 .text-wrap h2.m2-title,
    .mheader .card-content .card-wrap ul li p.card-des {
        font-size: 18px;
        line-height: 30px;
    }
    .mheader .management-section2 .text-wrap p.m2-desc {
        font-size: 15px;
        line-height: 25px;
    }
    .mheader .about-section2 .text-wrap {
        width: 75%;
    }
    .mheader .about-logo {
        width: 90%;
    }
    .mheader .personal-card {
        font-size: 18px;
        width: 360px;
        top: 20%;
    }
    .mheader .about-section2 .slider-wrap {
        height: 360px;
    }
    .mheader .personal-card p.post {
        margin-bottom: 20px;
    }
    .mheader img.personal-pic {
        width: 314px;
        right: 15%;
    }
    .mheader .about-slider .text-wrapp {
        width: 90%;
    }
    .mheader .text-wrapp img.person {
        width: 340px;
    }
    .mheader .text-wrapp {
        height: 340px;
    }
    .mheader .content.platform .platform-section1 .bottom-text img.table {
        width: 420px;
    }
    .mheader .content.platform .platform-section3 .text-wrap {
        width: 90%;
    }
    .mheader .content.platform .platform-section4 .mid-content {
        width: 85%;
    }
    .mheader .content.platform .platform-section2 {
        height: 554px;
    }
    .mheader .content.platform .platform-section4 {
        height: 750px;
    }
    .mheader .content.platform .platform-section4 .text-wrap {
        padding-top: 60px;
    }
    .mheader .footer {
        height: 300px;
    }
    .mheader .footer .icon-list {
        width: 980px;
    }
    .mheader .footer .icon-list div {
        width: 320px;
    }
    .mheader .management-section1 .text-wrap {
        width: 88%;
    }
    .mheader .management-section2 .img-wrap {
        width: 60%;
    }
    .mheader .manage-card-content .manage-card-list {
        width: 75%;
    }
    .mheader .fullpage .section .bottom-text .desc-box .round-button {
        margin-top: 50px;
        left: 50%;
        margin-left: -104px;
        position: absolute;
    }
    .mheader .content.platform .platform-section3 .slider-wrap {
        height: 555px;
    }
    .mheader .content.join .bbbb .slider .slider-item .position-desc-wrap {
        margin: 60px 130px 0 130px;
    }
    .mheader .content.join .bbbb .next-image {
        right: 50px;
    }
    .mheader .content.join .bbbb .prev-image {
        left: 50px;
    }
    .mheader .footer-add .other-infor {
        width: 90%;
    }
}

@media screen and (max-height: 900px) {
    .mheader .fullpage .section > img {
        width: 700px;
        margin-left: -350px;
    }
    .mheader .content.home .section3 .text {
        position: relative;
        top: 90px;
    }
}

@media screen and (max-height: 650px) {
    .mheader .fullpage .section > img {
        width: 550px;
        margin-left: -275px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 736px) and (orientation: portrait) {
    .mheader .fullpage .section > img {
        top: 20%;
    }
    .mheader .content.home .section1 {
        background: #337ab7;
    }
    .mheader .content.home .section3 {
        background: #4D21BE;
    }
    .mheader .fullpage .section .bottom-text {
        bottom: 300px;
    }
    .mheader .content.home .section3 .bottom-text .desc-box .round-button {
        left: 41%;
    }
    .mheader img.personal-pic {
        width: 304px;
        right: 10%;
    }
    .mheader .about-section2 .slider-wrap .bbbb .next-image {
        right: 50px;
    }
    .mheader .about-section2 .slider-wrap .bbbb .prev-image {
        left: 50px;
    }
    .mheader .personal-card {
        width: 400px;
    }
    .mheader .manage-card-content .manage-card-list {
        width: 80%;
    }
}

@media only screen and (device-width: 1080px) and (device-height: 1920px) and (orientation: portrait) {
    .mheader .content.home .section1 {
        background: #337ab7;
    }
    .mheader .content.home .section3 {
        background: #4D21BE;
    }
    .mheader .fullpage .section > img {
        top: 20%;
    }
    .mheader .fullpage .section .bottom-text {
        bottom: 300px;
    }
    .mheader .content.home .section3 .bottom-text .desc-box .round-button {
        left: 41%;
    }
    .mheader img.personal-pic {
        width: 304px;
        right: 10%;
    }
    .mheader .about-section2 .slider-wrap .bbbb .next-image {
        right: 50px;
    }
    .mheader .about-section2 .slider-wrap .bbbb .prev-image {
        left: 50px;
    }
    .mheader .personal-card {
        width: 400px;
    }
    .mheader .manage-card-content .manage-card-list {
        width: 80%;
    }
}

.mobile-footer-btn {
    position: relative;
}

.mobile-footer-btn img {
    width: 30%;
    position: relative;
    left: 50%;
    margin-left: -15%;
    margin-top: 1.5rem;
}

.mobile-footer-btn button.register {
    width: 70%;
    background: #1396f2;
    height: 2rem;
    border: none;
    border-radius: 0.4rem;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -35%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mobile-footer-btn button.register a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    display: block;
}

.mobile-footer-btn span {
    background: #dd2c3b;
    display: block;
    color: #ffffff;
    width: 25%;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 0.6rem;
    border-radius: 0.3rem;
    position: relative;
    left: 65%;
    top: -3rem;
}

.mobile-footer .media-icon {
    padding: 1rem;
    background: #000000;
    position: relative;
}

.mobile-footer .media-icon p.desc {
    color: #7d7d7d;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
}

.mobile-footer .media-icon #weiXin {
    left: 2.5rem;
}

.mobile-footer .media-icon #weiBo {
    left: 4.9rem;
}

.mobile-footer .media-icon #QQ {
    left: 7.2rem;
}

.mobile-footer .media-icon .media-icon-content {
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: none;
    background: #ffffff;
    padding: 1rem;
    bottom: 3rem;
}

.mobile-footer .media-icon .media-icon-content ul.code-card p {
    color: #959595;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
}

.mobile-footer .media-icon .media-icon-content ul.code-card p.gray-color {
    color: #6d6d6d;
    margin-bottom: 0.1rem;
}

.mobile-footer .media-icon .media-icon-content ul.code-card img {
    width: 4rem;
}

.mobile-footer .media-icon .media-icon-content ul.code-card #triangle-up {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #ffffff;
    position: absolute;
    bottom: -0.5rem;
    margin-left: 1.1rem;
}

.mobile-footer .media-icon .media-icon-tab {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.mobile-footer .media-icon .media-icon-tab li.icon {
    float: left;
    width: 33.3%;
}

.mobile-footer .media-icon .media-icon-tab li.icon img {
    width: 1rem;
    position: relative;
    left: 50%;
    margin-left: -0.5rem;
}

.mobile-footer .footer-href {
    background: #2a2731;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    padding-bottom: 4rem;
}

.mobile-footer .footer-href div.contact {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    width: 86%;
}

.mobile-footer .footer-href div.contact span {
    color: #7d7d7d;
    display: block;
    font-size: 0.6rem;
}

.mobile-footer .footer-href div.contact p {
    color: #ffffff;
    font-size: 0.6rem;
    margin: 0.3rem 0;
}

.mobile-footer .footer-href div.products {
    float: left;
    width: 50%;
    font-size: 0.6rem;
}

.mobile-footer .footer-href div.products ul li {
    margin-bottom: 0.3rem;
    text-align: center;
    color: #ffffff;
}

.mobile-footer .footer-href div.products ul li:first-child {
    margin-bottom: 0.5rem;
}

.mobile-footer .footer-href div.products ul li a {
    text-decoration: none;
    color: #7d7d7d;
}

.mfooter-float {
    width: 100%;
    height: 3rem;
    background: rgba(19, 150, 242, 0.75);
    position: fixed;
    bottom: 0rem;
    color: #ffffff;
    font-size: 0.6rem;
    text-align: center;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.34);
}

.mfooter-float img.mflogo {
    width: 8rem;
    position: absolute;
    top: 0.5rem;
    left: -2.5rem;
}

.mfooter-float span.close-float {
    float: right;
    position: relative;
    right: 0.2rem;
    font-size: 1rem;
}

.mfooter-float p {
         margin-top: 1.2rem;
    margin-left: 2rem;
}

body {
    font-family: Helvetica;
}

a,
img,
button,
input,
textarea {
    tap-highlight-color: rgba(255, 255, 255, 0);
}

input,
textarea {
    appearance: none;
}

.content.m-light {
    margin-top: 15%;
}

.content.m-light .sec {
    background: #eee;
}

.content.m-light .light-sec5 {
    background: url(../images/mobile/light/bg.jpg) no-repeat;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content.m-light .gamepic-sec5 {
    background: url(../images/mobile/gamepic/bg.jpg) no-repeat;
    padding-top: 1rem;
}

.content.m-light .partners-sec6 {
    background: url(../images/mobile/partners/bgb.jpg) no-repeat;
    padding-top: 1rem;
    background-position: center;
}

.content.m-light .partners-sec2 {
    background: transparent;
}

.content.m-light .partners-sec2 .title-text-des {
    width: 92%;
    margin: 0 auto;
    background: #ffffff;
}

.content.m-light .partners-sec2 .title-text-des h2 {
    border-bottom: 0.1rem solid #a9a9a9;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.content.m-light .partners-sec1 {
    background: url(../images/mobile/partners/bg.jpg) no-repeat;
    background-size: 100%;
    height: 45rem;
    margin-bottom: -34rem;
}

.content.m-light .partners-sec1 .title-text-top {
    padding-top: 2rem;
}

.content.m-light .partners-sec1 .title-text-top p.tcenter {
    text-align: center;
}

.content.m-light .guide-sec6 {
    background: url(../images/mobile/guide/bg.jpg) no-repeat;
    padding-top: 1rem;
}

.content.m-light .guide-sec6 .title-text-des img {
    margin-bottom: 0;
}

.content.m-light .media-sec7 {
    background: url(../images/mobile/media/bg.jpg) no-repeat;
    padding-top: 1rem;
}

.content.m-light .media-sec7 .title-text-des img {
    margin-bottom: 0;
}

.content.m-light .media-sec2 .title-text-des img {
    margin-top: 0.5rem;
}

.content.m-light .about-sec4 {
    background: url(../images/mobile/about/bgb.jpg) no-repeat;
}

.content.m-light .about-sec4 .mcard-list {
    width: 75%;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.09);
    position: relative;
    padding: 1.5rem;
    margin-top: 1rem;
}

.content.m-light .about-sec4 .mcard-list img {
    position: absolute;
    width: 20%;
    top: 1.6rem;
}

.content.m-light .about-sec4 .mcard-list p {
    padding-top: 1rem;
}

.content.m-light .about-sec4 .mcard-list h2 {
    text-align: left;
    margin-left: 35%;
}

.content.m-light .about-sec4 .mcard-list span {
    display: block;
    margin-left: 35%;
    color: #6c6c6c;
    font-size: 0.6rem;
}

.content.m-light .about-sec5 .title-text-des {
    padding: 1rem 0;
}

.content.m-light .about-sec5 .title-text-des h2.mb {
    margin-bottom: 0.5rem;
}

.content.m-light .about-sec5 .title-text-des h2 {
    padding: 0.2rem 0;
    text-align: left;
}

.content.m-light .about-sec5 .title-text-des button.joinus-btn {
    width: 28%;
    height: 1.5rem;
    line-height: 1.5rem;
    border: none;
    background: #1396f2;
    border-radius: 0.3rem;
    position: relative;
    left: 50%;
    margin-left: -14%;
    margin-top: 1rem;
}

.content.m-light .about-sec5 .title-text-des button.joinus-btn a {
    color: #ffffff;
    line-height: 1.5rem;
    text-decoration: none;
    font-size: 0.6rem;
}

.content.m-light .about-sec2 .title-text-des {
    height: 19rem !important;
}

.content.m-light .about-sec2 .title-text-des .slider .slider-item h2.name {
    font-size: 0.8rem;
    font-weight: normal;
    padding: 0;
}

.content.m-light .about-sec2 .title-text-des .slider .slider-item span {
    display: block;
    text-align: center;
    font-size: 0.6rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.content.m-light .about-sec2 .title-text-des .bottom-controllers {
    bottom: 1rem;
}

.content.m-light .about-sec1 {
    background: url(../images/mobile/about/bg.jpg) no-repeat;
    background-position: center;
}

.content.m-light .about-sec1 .title-text-top {
    padding: 2rem 0;
    color: #ffffff;
}

.content.m-light .about-sec1 .title-text-top h2.mb {
    margin-bottom: 1.5rem;
}

.content.m-light .about-sec1 .title-text-top h2 {
    padding: 0.2rem 0;
}

.content.m-light .about-sec1 .title-text-top p {
    color: #ffffff;
}

.content.m-light .light-sec2 .title-text-des img {
    margin-bottom: 0;
}

.content.m-light .title-text-des {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.content.m-light .title-text-des .round-button {
    color: #000000;
    margin-left: 0;
    display: block;
    margin-bottom: 1rem;
    font-size: 0.6rem;
}

.content.m-light .title-text-des h2 {
    font-size: 1rem;
    color: #333333;
    padding: 1rem 0 0.5rem 0;
    text-align: center;
}

.content.m-light .title-text-des p {
    font-size: 0.6rem;
    line-height: 1.2rem;
    color: #666;
}

.content.m-light .title-text-des img {
    width: 100%;
    margin: 0.5rem 0;
}

.content.m-light p.tcenter {
    text-align: center;
}

.content.m-light p.mgap {
    margin-bottom: 0.3rem;
}

.content.m-light .title-text-top {
    width: 90%;
    margin: 0 auto;
}

.content.m-light .title-text-top img {
    width: 100%;
    margin: 1rem 0;
}

.content.m-light .title-text-top h2 {
    font-size: 1.4rem;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
}

.content.m-light .title-text-top p {
    font-size: 0.6rem;
    line-height: 1.2rem;
    text-align: left;
    color: #666666;
}

.content.join {
    margin-top: 15%;
}

.content.join .home-content {
    position: relative;
}

.content.join .home-content .join-bg .partner-header {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

.content.join .home-content .join-bg .partner-header h2 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: normal;
}

.content.join .home-content .join-bg .partner-header p.name {
    margin-left: 60%;
}

.content.join .home-content .join-bg .partner-header p.header-desc {
    font-size: 0.6rem;
    margin-top: 1rem;
}

.content.join .home-content .join-bg .partner-header p {
    font-size: 0.4rem;
    margin-top: 0.2rem;
}

.content.join .home-content .change-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    bottom: auto;
    height: 1058px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.content.join .slider-wrap {
    height: 745px;
    position: relative;
}

.content.join .bbbb {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
}

.content.join .bbbb .prev-image {
    left: 100px;
}

.content.join .bbbb .next-image {
    right: 100px;
}

.content.join .bbbb .slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.content.join .bbbb .slider > div {
    float: left;
    width: 100%;
    height: 100%;
}

.content.join .bbbb .slider .slider-item {
    background-position: center;
    position: relative;
}

.content.join .bbbb .slider .slider-item .position-wrap-btn {
    width: 250px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    bottom: 100px;
}

.content.join .bbbb .slider .slider-item .position-wrap-btn button {
    width: 160px;
    height: 50px;
    border: none;
    background: #ffffff;
    margin-bottom: 10px;
}

.content.join .bbbb .slider .slider-item .position-wrap-btn button a {
    font-size: 20px;
    text-decoration: none;
    color: #555;
}

.content.join .bbbb .slider .slider-item .position-desc-wrap {
    color: #ffffff;
    overflow: hidden;
    margin: 2rem 1rem;
}

.content.join .bbbb .slider .slider-item .position-desc-wrap .position-name {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.2rem;
    font-weight: normal;
}

.content.join .bbbb .slider .slider-item .position-desc-wrap p.position-descr {
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 25px;
}

.content.join .bbbb .slider .slider-item .position-desc-wrap .mar-r {
    margin-right: 10%;
}

.content.join .bbbb .slider .slider-item .position-desc-wrap .work-duty {
    width: 100%;
    margin-bottom: 2rem;
}

.content.join .bbbb .slider .slider-item .position-desc-wrap .work-duty h2 {
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
}

.content.join .bbbb .slider .slider-item .position-desc-wrap .work-duty p {
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
    line-height: 0.8rem;
    color: #cdcdcb;
}

.content.join .bbbb .slider .a {
    background-image: url(../images/mobile/join/1.jpg);
}

.content.join .bbbb .slider .b {
    background-image: url(../images/mobile/join/2.jpg);
}

.content.join .bbbb .slider .c {
    background-image: url(../images/mobile/join/3.jpg);
}

.content.join .bbbb .slider .d {
    background-image: url(../images/mobile/join/4.jpg);
}

.content.join .bbbb .slider .e {
    background-image: url(../images/mobile/join/5.jpg);
}

.content.join .bbbb .slider .f {
    background-image: url(../images/mobile/join/6.jpg);
}

.content.join .bbbb .slider .g {
    background-image: url(../images/mobile/join/7.jpg);
}

.content.join .bbbb .slider .h {
    background-image: url(../images/mobile/join/8.jpg);
}

.content.join .join-bg {
    position: relative;
    width: 100%;
    height: 20rem;
}

.content.join .join-bg .bg-text-change {
    margin-top: 1rem;
}

.content.join .join-bg .bg-text-change p {
    font-size: 0.6rem;
}

.content.join button.sent-post {
    margin-bottom: 2rem;
    width: 60%;
    position: relative;
    left: 50%;
    margin-left: -30%;
    height: 2rem;
    background: #1396f2;
    color: #ffffff;
    font-size: 0.6rem;
    border: none;
    border-radius: 0.3rem;
}

.content.join .work-desc {
    position: relative;
    background: #ffffff;
    width: 96%;
    margin: 0 auto;
    margin-top: -2rem;
}

.content.join .work-desc .work-desc-content {
    padding: 1.5rem 1rem;
}

.content.join .work-desc .work-desc-content h2 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: #b8b8b8;
    border-bottom: 1px solid #a9a9a9;
    font-weight: normal;
}

.content.join .work-desc .work-desc-content h2.work-title {
    color: #000000;
    border-bottom: none;
}

.content.join .work-desc .work-desc-content p {
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
    color: #666666;
}

.content.join .work-desc .work-desc-content h2.list {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.content.join .work-desc .work-desc-content .position-list ul {
    display: inline-block;
}

.content.join .work-desc .work-desc-content .position-list ul li {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}

body {
    font-family: STHeitiSC-Light, Microsoft Yahei, Helvetica, Arial, sans-serif;
}

* {
    list-style: none;
    padding-left: 0;
}

.mheader {
    background: #ffffff;
    padding: 1rem 0 1.5rem 1rem;
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.06);
}

.mheader a.navbar-brand {
    top: 0.8rem;
}

.mheader a.navbar-brand img {
    width: 80%;
    height: auto;
}

.mheader #toggle {
    top: 0.9rem;
}

.mheader #toggle .m-menu-btn {
    background: #1396f2;
}

.mindex {
    height: 100%;
}

.mindex .m-i-section2 {
    margin: 1rem 0;
}

.mindex .m-i-section2 .title-text {
    padding-top: 1rem;
}

.mindex .m-i-section {
    background: url(../images/mobile/bg.jpg) no-repeat;
    background-position: center;
}

.mindex .m-i-section .title-text {
    padding-top: 1rem;
}

.mindex .m-i-section .title-text h2 {
    color: #ffffff;
}

div.title-text h2 {
    font-size: 1.4rem;
    color: #000000;
    text-align: center;
    line-height: 2rem;
    font-weight: normal;
}

div.title-text h2.last {
    margin-bottom: 1rem;
}

div.title-text p {
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
    width: 95%;
    margin: 0 auto;
}

div.title-text span.blue-text {
    font-size: 0.6rem;
    color: #1396f2;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.m-i-section {
    background: #1396f2;
    width: 100%;
    height: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.m-i-section h2 {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    line-height: 3rem;
    font-weight: bold;
}

.m-i-section img.computer {
    width: 80%;
    position: relative;
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    left: auto;
}

.m-i-section .round-button {
    font-size: 0.6rem;
    display: block;
    width: 68%;
    margin: 0 10%;
    line-height: 1rem;
}

.m-i-section button {
    height: 2rem;
    width: 80%;
    color: #ffffff;
    border: none;
    border: 0.1rem solid #ffffff;
    border-radius: 0.4rem;
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    left: 50%;
    margin-left: -40%;
    background: none;
}

.m-i-section button a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.m-i-section span.red-text {
    font-size: 0.6rem;
    background: #dd2c3b;
    position: relative;
    border-radius: 0.4rem;
    color: #ffffff;
    display: block;
    width: 25%;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    left: 65%;
    top: 1rem;
    z-index: 2;
}

.m-i-section button.register {
    background: #ffffff;
}

.m-i-section button.register a {
    color: #1396f2;
}

.m-i-section2 .look-detail {
    width: 70%;
    margin: 0 15%;
    background: #1396f2;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: none;
    height: 2rem;
}

.m-i-section2 .look-detail a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.m-i-section2 .sort-list {
    width: 13.7rem;
    margin: 0 auto;
}

.m-i-section2 .sort-list .top {
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.m-i-section2 .sort-list .top li {
    width: 2.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-right: 0.5rem;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 0.4rem;
    float: left;
    border-radius: 0.4rem;
    position: relative;
}

.m-i-section2 .sort-list .top li i.list-logo {
    background: url(../images/mobile/list.png) no-repeat;
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-size: 400%;
    left: 50%;
    margin-left: -1rem;
    top: 0;
}

.m-i-section2 .sort-list .top li i.bl {
    background-position: -2rem 0;
}

.m-i-section2 .sort-list .top li i.cl {
    background-position: -4rem 0;
}

.m-i-section2 .sort-list .top li i.el {
    background-position: -6rem 0;
}

.m-i-section2 .sort-list .top li i.fl {
    background-position: 0rem -2rem;
}

.m-i-section2 .sort-list .top li i.gl {
    background-position: -2rem -2rem;
}

.m-i-section2 .sort-list .top li i.hl {
    background-position: -4rem -2rem;
}

.m-i-section2 .sort-list .top li i.il {
    background-position: -6rem -2rem;
}

.m-i-section3 {
    background: #eee;
    height: 25rem;
    margin-top: 2rem;
}

.m-i-section4 div.icon-list img {
    width: 28%;
    margin: 1rem 2%;
}

.pop-content {
    background: #000;
    position: relative;
    position: fixed;
    z-index: 1035;
    background: rgba(0, 0, 0, 0.46);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.pop-case {
    font-size: 0.5rem;
    text-align: center;
    width: 7rem;
    margin: 0 auto;
    height: 3rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
    margin-left: -4.5rem;
    top: 50%;
    margin-top: -2.5rem;
    background: #fff;
    border-radius: 0.2rem;
}

.pop-case button {
    border: none;
    background: #2b92d6;
    color: #fff;
    width: 3rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.4rem;
}


/*# sourceMappingURL=m-index.css.map */


/*register start*/

.register-header {
    background: #1396f2;
}

.register-header #toggle .m-menu-btn {
    background: #fff;
}

.register-header .register-text {
    text-align: center;
    position: absolute;
    display: block;
    width: 90%;
    color: #fff;
    font-size: 0.9rem;
    margin-top: -0.2rem;
}

/*.register-header .register-text:before {
  content: "<";
    font-size: 1rem;
    position: absolute;
    left: 0;
}*/

.register-content {
    background: #efefed;
    margin-top: 2.5rem;
    height: 100%;
}

.register-content .tab-progress {
    background: #fff;
    overflow: hidden;
}

.register-content .tab-progress li {
    float: left;
    font-size: 0.6rem;
    color: #504e4f;
    width: 33.3%;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
}

.register-content .tab-progress li.selected {
    color: #1396f2;
}

.register-content .tab-progress li:first-child:before {
    content: "";
}

.register-content .tab-progress li:before {
    content: '>';
    position: relative;
    left: -0.7rem;
    font-size: 0.7rem;
    color: #979696;
}

.phone-input input {
    width: 95%;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    padding-left: 5%;
    font-size: 0.6rem;
    color: #979696;
    outline: none;
}

.check-box {
    padding-left: 5%;
    margin-bottom: 0.5rem;
}

.check-box span {
    color: #464646;
    font-size: 0.6rem;
}

.check-box span b {
    color: #1396f2;
    font-weight: normal;
}

.get button {
    width: 95%;
    background: #dddddd;
    border: none;
    height: 2rem;
    font-size: 0.9rem;
    color: #979696;
    position: relative;
    left: 50%;
    margin-left: -47.5%;
}
#getTest{
    background: #dddddd;
    color: #979696;
}
button.commit-btn{
    background: #1396f2;
    color: #ffffff;
    cursor: pointer;
}
div.r-pop-case {
    display: none;
    background: rgba(0, 0, 0, 0.63);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1100;
}

div.r-pop-content {
    width: 10rem;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.43);
    position: absolute;
    left: 50%;
    margin-left: -6rem;
    border-radius: 0.08rem;
    height: 5rem;
    top: 50%;
    margin-top: -3.5rem;
    padding: 1rem;
}

div.r-pop-content  p {
  font-size: 0.8rem;
}
div.r-pop-content  p.remind-text {
  color: #979696;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

div.r-pop-content .confirm-btn {
       border: none;
    background: none;
    font-size: 0.8rem;
    color: #1396f2;
    position: absolute;
    left: 9rem;
    bottom: 1rem;
    outline: none;
}
.phone-input {
    position: relative;
}
button#captchaCheck {
    position: absolute;
    right: 0;
    width: 30%;
    border: none;
    background: #57c5f5;
    color: #fff;
    font-size: 0.6rem;
    height: 2rem;
    top: 0.5rem;
}

.register-header .backup {
   font-size: 1rem;
    color: #fff;
    position: absolute;
    top: 0.7rem;
    z-index: 500;
}

/*login start*/
.login-content .tab-progress {
    position: relative;
}
.login-content .tab-progress li:before {
    content:'';
}

.login-content .tab-progress li {
    width: 50%;
    border-bottom: 0.15rem solid #efefed;
    cursor: pointer;
}

.login-content .tab-progress li.selected {
    border-bottom: 0.15rem solid #1396f2;
}
.login-content .tab-progress span.bottom-border {

    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    top: 0.15rem;
}

.passWord {
    position: relative;
    top: -0.45rem;
}

.login-content div.phone-input input {
    margin-top: 0rem;
}

.register-now span {
    text-align: center;
    font-size: 0.6rem;
    color: #979696;
    display: block;
    margin-top: 0.5rem;
}

.register-now span a {
    text-decoration: none;
    color:  #1396f2;
    font-size: 0.6rem;
}


.login-phone-input  button#captchaCheck{
        position: absolute;
    right: 0;
    width: 30%;
    border: none;
    background: #57c5f5;
    color: #fff;
    font-size: 0.6rem;
    height: 1.2rem;
    top: 0.5rem;
    border-radius: 0.05rem;
    right: 0.5rem;
}
