.py_clear{ clear: both}
.py_hidden{ display: none}
.py_bgf7{background-color:#f7f7f7;}
.py_bgff{background-color:#ffffff;}
.py_colorg{ color: #B3BAC1;}
.py_colorb{ color: #373737;}
.py_colorr{ color: #C15741;}
.py_radius{border-radius: 5px;}
.py_radiusl{border-radius: 5px 0 0 5px;}
.py_radiusr{border-radius: 0 5px 5px 0;}
.py_margt30{margin-top: 30px}
.py_margt40{margin-top: 40px}
.py_margt60{margin-top: 60px}
.py_margb30{margin-bottom: 30px}
.py_margr30{margin-right: 30px}
.py_padll5{padding-left: 15px}
.py_padr15{padding-right: 15px}
.py_pad30{padding: 30px}
.py_pad20{padding: 20px}
.py_pad10{padding: 10px 50px}
.py_padt20{padding-top: 20px}
.py_floatl{ float: left}
.py_floatr{ float: right}
.py_font{font-size: 18px;  font-weight: bold;}
.py_font20{ font-size: 20px}
.py_font32{ font-size: 32px}
.py_boderl{ border-left: 2px solid #DDE2E6}
.py_boderr{ border-left: 2px solid #DDE2E6}
.portrayal {color: #393535}
.portrayal *{ word-break: break-all}
.portrayal h1{  text-align: center;height: 35px; position: relative}
.portrayal h2{  text-align: center;height: 35px; font-size: 16px;font-weight: bold; position: relative}
.portrayal h1 span,.portrayal h2 span{ position: absolute; right: 0; height: 20px; width: 20px; overflow: hidden; background: url("../img/portrayal/icon.jpg") no-repeat -59px -1px; cursor: pointer}
.portrayal h2 .py_tips{ position: absolute; top:-80px; right: -124px; z-index: 100; font-size: 12px; text-align: left;}
.portrayal h2 .py_tips .py_tpcontent{ width: 270px; border-radius: 5px; background-color: #373737; color: #FFFFFF}
.portrayal h2 .py_tips .py_tparrow{ height:16px; width: 36px; background: url("../img/portrayal/tips_arrow.png") no-repeat; margin-left: 117px}
.portrayal .py_game{ padding: 22px 20px 22px 55px; height: 82px}
.portrayal .py_game .py_gameinfo{width:auto; display: block; position: relative; padding-right: 35px}
.portrayal .py_game .py_gameinfo img{ position: absolute;left: 0; top: 0; width: 82px; height: 82px;}
.portrayal .py_game .py_gameinfo p{ padding-left: 100px; padding-top: 10px}
.portrayal .py_game .py_gameinfo span{ display: block; font-size: 14px; margin-top: 15px; font-weight: normal}
.portrayal .py_game .py_gameinfo span b{ color:#C15741}
.portrayal .py_game button{ height: 35px; width: 90px; border:2px solid #C6CCD2; font-size: 12px; color: #373737; }
.portrayal .py_menu{ height: 50px}
.portrayal .py_menu .py_tab{ width: 150px; text-align: center;  height: 50px; line-height: 50px; float: left; font-size: 14px;}
.portrayal .py_menu .py_taboff{background-color: #65ABCF;color: #FFFFFF; cursor: pointer}
.portrayal .py_menu .py_tabborder{border-right:#5B9ABB 2px solid}
.portrayal .py_menu .py_tabradiusl{ border-radius:5px 0 0 0}
.portrayal .py_menu .py_tabradiusr{ border-radius:0 5px 0 0}
.portrayal .py_menu .py_tabon{background-color: #f7f7f7;}
.portrayal .py_ht450{height: 450px}
.portrayal .py_ht275{height: 275px}
.portrayal .py_ht425{height: 425px}
.portrayal .py_ht320{height: 320px}
.portrayal .py_ht560{height: 560px}
.portrayal .py_ht590{height: 590px}
.portrayal .py_ratio{width: 260px;}
.portrayal .py_ratio .py_rtarea{ margin-top: 100px}
.portrayal .py_ratio .py_rtlist{ width: 105px; text-align: center}
.portrayal .py_ratio .py_rtboderr{ border-right: 2px solid #DDE2E6}
.portrayal .py_ratio .py_rtimg{background: url("../img/portrayal/icon.jpg") no-repeat;height: 26px; width: 26px; overflow: hidden; display: block}
.portrayal .py_ratio .py_rtmale{ background-position:  -29px -1px ;}
.portrayal .py_ratio .py_rtfemale{background-position:  0px 0px ;}
.portrayal .py_ratio span{ font-size: 24px; text-align: center; display: block}
.portrayal .py_ratio .py_rtline{ height: 20px; position: relative;background-color: #DB755F;border-radius: 5px}
.portrayal .py_ratio .py_rtblue{ position: absolute; height: 20px; background-color: #65ABCF;z-index: 1}
.portrayal .py_map{ width: 760px;}
.portrayal .py_map .py_mpshow{ width: 465px; }
.portrayal .py_mplist{ width: 185px; margin-top: 40px;font-size: 16px}
.portrayal .py_mplist .py_mplist20{ width: 20%}
.portrayal .py_mplist .py_mplist40{ width: 40%; overflow: hidden}
.portrayal .py_mplist dl dt,.portrayal .py_mplist dl dd{height: 45px; line-height: 45px;}
.portrayal .py_tblist{ padding: 0 80px;font-size: 16px}
.portrayal .py_tblist .py_tblist10{ width: 10%}
.portrayal .py_tblist .py_tblist40{ width: 30%; overflow: hidden}
.portrayal .py_tblist .py_tblist50{ width: 60%; overflow: hidden}
.portrayal .py_tblist dl dt,.portrayal .py_tblist dl dd{height: 45px; line-height: 45px;}
.portrayal .py_ranklist .py_rankimg{background: url("../img/portrayal/icon.jpg") no-repeat;height: 27px; width: 20px; overflow: hidden; display: block; margin-top: 10px}
.portrayal .py_ranklist .py_rank1{background-position:  0px -452px ;}
.portrayal .py_ranklist .py_rank2{background-position:  -22px -452px ;}
.portrayal .py_ranklist .py_rank3{background-position:  -44px -452px ;}
.portrayal .py_ranklist dl{margin: 0; padding: 0;}
.portrayal .py_ranklist dl dt,.portrayal .py_ranklist dl dd{float: left; border-bottom: 1px solid #DDE2E6; }
.portrayal .py_ranklist dt{ color: #B3BAC1; }
.portrayal .py_ranklist .py_rkltbdnone{ border-bottom: 0px}
.portrayal .py_item{ width: 510px;}
.portrayal .py_item .py_line{ padding: 0 20px}
.portrayal .py_item .py_line .py_word{ margin-top: 15px; height: 30px}
.portrayal .py_item .py_line .py_word .py_wname{ width: 50%;}
.portrayal .py_item .py_line .py_word .py_wnumber{ width: 50%; text-align: right}
.portrayal .py_item .py_line .py_wdline{ height: 3px; position: relative; background-color: #DDE2E6}
.portrayal .py_item .py_line .py_wdline span{ display: block; height: 3px; position: absolute;z-index: 1}
.portrayal .py_item .py_line .py_wdline .py_wdblue{ background-color: #65ABCF}
.portrayal .py_item .py_line .py_wdline .py_wdblue2{ background-color: #A1C6DB}
.portrayal .py_item .py_line .py_wdline .py_wdgreen{ background-color: #23A997}
.portrayal .py_item .py_line .py_wdline .py_wdgreen2{ background-color: #80C6BF}
.portrayal .py_item .py_line .py_wdline .py_wdyellow{ background-color: #D9C16B}
.portrayal .py_item .py_line .py_wdline .py_wdyellow2{ background-color: #DBD2A9}
.portrayal .py_item .py_line .py_wdline .py_wdred{ background-color: #DB755F}
.portrayal .py_item .py_line .py_wdline .py_wdred2{ background-color:#DCABA3}
.portrayal .py_item .py_line .py_wdline .py_wdviolet{ background-color: #8973B9}
.portrayal .py_item .py_line .py_wdline .py_wdviolet2{ background-color: #B3ABD0}
.portrayal .py_item .py_line .py_wdline .py_wdgrape{ background-color: #B979CD}
.portrayal .py_item .py_line .py_wdline .py_wdgrape2{ background-color: #CBAEDA}
.portrayal .py_item .py_line .py_wdline .py_wdpink{ background-color: #EF91AF}
.portrayal .py_item .py_line .py_wdline .py_wdpink2{ background-color: #E6BACB}
.portrayal .py_item .py_line .py_word .py_wdleft{ width: 40%; text-align: left; font-size: 14px}
.portrayal .py_item .py_line .py_word .py_wdname{ width: 20%; text-align: center; font-size: 14px }
.portrayal .py_item .py_line .py_word .py_wdright{ width: 40%;text-align: right; font-size: 14px}
.portrayal .py_item .py_line .py_lineleft{ width: 50%; }
.portrayal .py_item .py_line .py_lineleft span{ right: 0}
.portrayal .py_item .py_line .py_lineright{ width: 50%;}
.portrayal .py_item .py_line .py_lineright span{ left: 0}
.portrayal .py_item .py_pie{ width: 230px; height: 176px}
.portrayal .py_item .py_pieinfo{width: 240px}
.portrayal .py_item .py_pieinfo .py_piemenu{ margin-left: 25px}
.portrayal .py_item .py_pieinfo .py_piemenu i{ height:11px; width: 10px;top: 5px}
.portrayal .py_item .py_pieinfo .py_piemenu span{ padding-left: 15px; margin-right: 10px; cursor: pointer}
.portrayal .py_item .py_icon span{ position: relative; font-size: 14px;}
.portrayal .py_item .py_icon i{background: url("../img/portrayal/icon.jpg") no-repeat ;overflow: hidden; display:block; position: absolute;left: 0; }
.portrayal .py_item .py_icon .py_pih_h{ background-position: 0px -440px}
.portrayal .py_item .py_icon .py_pih_m{ background-position: -12px -440px}
.portrayal .py_item .py_icon .py_pih_l{ background-position: -24px -440px}
.portrayal .py_item .py_icon .py_piy_h{ background-position: -36px -440px}
.portrayal .py_item .py_icon .py_piy_m{ background-position: -48px -440px}
.portrayal .py_item .py_icon .py_piy_l{ background-position: -60px -440px}
.portrayal .py_item .py_icon .py_cp_h{ background-position: -86px -440px}
.portrayal .py_item .py_icon .py_cp_l{ background-position: -71px -440px}
.portrayal .py_item .py_pieinfo .py_pdlh{ margin-top: 17px; margin-bottom: 8px}
.portrayal .py_item .py_pieinfo .py_pidetail{ text-align: center}
.portrayal .py_item .py_chart{ width: 405px; height: 250px}
.portrayal .py_item .py_chart2{ width: 450px; height: 320px}
.portrayal .py_item .py_arrow_vertical{ width: 34px; height: 222px; background: url("../img/portrayal/complain_high.png") no-repeat ; margin-top: 20px}
.portrayal .py_item .py_arrow_horizontal{ height: 34px; width: 371px; background: url("../img/portrayal/active_high.png") no-repeat ; margin-left: 50px}
.portrayal .py_item .py_chartinfo{ width: auto; margin-left: 30px;}
.portrayal .py_item .py_chartinfo span{ display: block; font-size: 24px}
.portrayal .py_list{ width: 240px;text-align: center; }
.portrayal .py_list .py_linfo{ padding: 20px 20px 0 20px}
.portrayal .py_list i{ width: 101px; height: 102px;background: url("../img/portrayal/icon.jpg") no-repeat ;overflow: hidden; display:block; cursor: pointer}
.portrayal .py_list p{font-size: 24px; margin-top: 25px; margin-bottom: 10px;}
.portrayal .py_list b{ display: block}
.portrayal .py_list .py_limg1{ background-position: 0px -30px }
.portrayal .py_list .py_limg2{ background-position: 0px -132px }
.portrayal .py_list .py_limg3{ background-position: 0px -235px }
.portrayal .py_list .py_limg4{ background-position: 0px -337px }
.portrayal .py_service{ padding: 110px}
.portrayal .py_service .py_svinfo{ width: 500px; text-align: center}
.portrayal .py_service .py_svline{ height: 17px; width: 500px; background:url("../img/portrayal/service.jpg") no-repeat ; }
.portrayal .py_service .py_svp1{ margin-top: 67px; margin-bottom: 58px; font-size: 24px}
.portrayal .py_service .py_svp2{ height: 45px; line-height: 45px; font-size: 18px}
.portrayal .py_service .py_svp3{ margin-bottom: 75px}
.portrayal .py_service .py_svp3 a{ font-size: 18px; text-decoration: underline; color: #4F93B7; font-weight: bold}
.portrayal .py_service .py_svimg{width: 798px; height: 278px; background:url("../img/portrayal/service.jpg") no-repeat 0px -17px; }
.portrayal .py_cptag{ width: 50%; height: 30px;}
.portrayal .py_cptag .py_cptgpos{ margin-left: 80px}
.portrayal .py_cptag i{ height:14px; width: 14px;top: 3px}
.portrayal .py_cptag span{ padding-left: 20px; margin-right: 10px;}
.portrayal .py_cprank{width: 49.7%;font-size: 12px; display: block; overflow: auto}
.portrayal .py_cprank .py_cplist10{ width: 10%}
.portrayal .py_cprank .py_cplist30{ width: 30%; overflow: hidden}
.portrayal .py_cprank .py_cplist60{ width: 60%; overflow: hidden}
.portrayal .py_cprank dl dt,.portrayal .py_cprank dl dd{height: 40px; line-height: 40px;}
.portrayal .py_cphuman{ width: 466px; height: 205px; background: url("../img/portrayal/comparebg.jpg")}
.portrayal .py_cphuman i{ width: 26px; height: 26px; overflow: hidden;background: url("../img/portrayal/arrow.png") no-repeat; display: block; margin-top: 25px; margin-bottom: 10px}
.portrayal .py_cphuman .py_cphmman{ background-position: 0 -15px}
.portrayal .py_cphuman .py_cphmfemale{ background-position: 0 -41px}
.portrayal .py_cphuman .py_hmshow{height: 22px; position: relative; width: 50%}
.portrayal .py_cphuman .py_hmshow .py_hmline1{ height: 22px; right: 0 ;position: absolute;}
.portrayal .py_cphuman .py_hmshow span{ position: absolute; display: block; width: 45px}
.portrayal .py_cphuman .py_hmshow .py_hmline2{ height: 22px; background-color: #77BFE5; left: 0;position: absolute;}
.portrayal .py_cphuman .py_hmshow .py_hmbg1{background-color: #65ABCF; }
.portrayal .py_cphuman .py_hmshow .py_hmbg2{background-color: #D9C16B; }
.portrayal .py_cphuman .py_hmshow .py_hmbg3{background-color: #65ABCF; }
.portrayal .py_cphuman .py_hmshow .py_hmbg4{background-color: #D9C16B; }
.portrayal .py_choose{ margin-left: 25px; padding-left: 20px; height: 85px}
.portrayal .py_covs{ width: 75px; text-align: center; line-height: 90px; font-size: 20px; font-weight: bold}
.portrayal .py_choose button{ width: 90px; text-align: center; font-size: 20px; background-color: #65ABCF; border: 0px; font-size: 16px; color: #ffffff; margin-top: 31px; margin-left: 10px}
.portrayal .py_coitem{ width: 210px;}
.portrayal .py_coitem .py_coinfo{ height: 25px; position: relative}
.portrayal .py_coitem .py_coinfo span{ position: absolute; right: 0; font-size: 12px; margin-top: 5px}
.portrayal .py_coitem .py_coinfo span b{ color:#C15741}
.portrayal .py_coitem .py_coselect{ width: 208px; height: 46px; line-height: 46px; position: relative; cursor: pointer;overflow: hidden;}
.portrayal .py_coitem .py_coselect span{ padding-left: 10px}
.portrayal .py_coitem .py_coselect i{ background: url("../img/portrayal/arrow.png") no-repeat; overflow: hidden; display: block;position: absolute; right: 15px; top: 20px;width: 10px; height: 7px;}
.portrayal .py_coitem .py_coselect .py_coarrow1{ background-position:0 0}
.portrayal .py_coitem .py_coselect .py_coarrow2{ background-position: 0 -7px}
.portrayal .py_coitem .py_coslcolor1{ border: 2px solid #65ABCF}
.portrayal .py_coitem .py_coslcolor2{ border: 2px solid #C9B248}
.py_layer{ width: 580px;}
.py_layer .py_lyarea{ padding:20px}
.py_layer .py_lytitle{ height: 35px; border-bottom: 2px solid #DEE2E7; position: relative}
.py_layer .py_lytitle h4{ height: 35px;position: absolute; display: block; left: 0; font-size: 16px}
.py_layer .py_lytitle b{ position: absolute;right: 0; display: block; cursor: pointer}
.py_layer .py_lyfew button{ display: block; float: left; border-radius: 5px; font-size: 12px; padding:5px 10px; background-color: #ffffff; border: 2px solid #C6CBD1; margin: 15px 5px 0 5px; color: #3A3838}
.py_layer .py_lyfew .btnhover{ background-color: #22A997; color: #ffffff; border: 2px solid #22A997;}
.py_layer .py_lycheck{ border-top: 2px solid #DEE2E7; margin-top: 15px; text-align: center; padding: 15px}
.py_layer .py_lycheck button{padding: 5px 25px;border:2px solid #64ACCF;}
.py_layer .py_lycheck .py_lylinkbtn{color: #64ACCF; background-color: #ffffff}
.py_layer .py_lycheck .py_lycheckbtn{background-color: #64ACCF; color: #ffffff }
.py_layer .py_auto{ overflow: auto}
.py_layer .py_lymore dl{ border-bottom: 1px solid #F5F6F7; position: relative; padding: 5px 0px 5px 100px; display: block; font-size: 12px; min-height: 30px}
.py_layer .py_lymore dt{ display: block; position: absolute;left: 0; top: 13px}
.py_layer .py_lymore dd{ float: left; width: 110px; height: 28px; line-height: 30px;}
.py_layer .py_select{ color: #ffffff; background-color: #C5CBD1; width:155px; position: relative}
.py_layer .py_select .py_selarea{ height: 30px; width: 150px}
.py_layer .py_select span{ display: block; height: 35px; line-height: 30px; padding-left: 20px}
.py_layer .py_select i{ position: absolute; right: 10px; top: 13px; width: 10px; height: 6px; background: url("../img/portrayal/arrow.png") no-repeat -12px -1px; cursor: pointer}
.py_layer .py_select ul{ position: absolute; top: 32px; background-color: #C5CBD1; width: 155px; height: 100px; overflow: auto;border-radius: 0 5px 5px 0; display: none; z-index: 1}
.py_layer .py_select ul li{ height: 25px; line-height: 25px; padding-left: 20px; cursor: pointer}