body.index-about
{
    background-color:#ffffff;
}

.misc_title
{
    color:#03a9f5;
    font-size:26px;
    padding-top:80px;
}


.sub_title_line
{
    border-bottom:1px solid #d3d8da;height:28px;width:40%;margin:auto;
}
.sub_title_dot
{
    display: inline-block;width:7px;height:7px;border-radius:7px;border:1px solid #d3d8da;margin-top:24px;background-color:#ffffff;
}


.misc_title2
{
    color:#bbb;
    font-size:16px;
    margin-top:20px;
}


.p1_sub
{
    color:#bbb;font-size:14px;lien-height:28px;width:235px;margin:15px auto 0 auto;
}

.pb
{
    height:580px;
}

.bg1
{
    background-color:#f2f4f5;
}
