
div#aboutUs div.about-banner ul#marquee li a img {
  float: right;
  position: relative;
  right: 300px;
}
div#aboutUs div.about-banner ul#marquee li div.total-width {
  position: absolute;
  left: 50%;
  margin-left: -587.5px;
  top: 0;
}
div#aboutUs div.about-banner ul#marquee li div.total-width div.person-des {
  font-size: 20px;
  width: 485px;
  position: absolute;
  top: 170px;
  left: 0;
}
div#aboutUs div.about-banner ul#marquee li div.total-width div.person-des h4 {
  font-weight: normal;
}
div#aboutUs div.about-banner ul#marquee li div.total-width div.person-des p {
  line-height: 35px;
  margin-top: 30px;
}
div#aboutUs div.about-banner ul#marquee li div.total-width img.person {
  position: absolute;
  top: 0;
  right: 0;
}
div#aboutUs div.thinker {
  position: relative;
  margin-bottom: 50px;
}
div#aboutUs div.thinker img {
  width: 510px;
  position: absolute;
  right: 0;
  bottom: 0;
}
div#aboutUs div.thinker div.thinker-des {
  width: 580px;
}
div#aboutUs div.thinker div.thinker-des h2 {
  font-size: 35px;
  color: #000;
  text-align: left;
  font-weight: normal;
  padding: 35px 0;
}
div#aboutUs div.thinker div.thinker-des p {
  font-size: 20px;
  line-height: 35px;
  text-align: left;
}
div#aboutUs div.thinker div.thinker-des span a {
  font-size: 12px;
  color: #237bd0;
  text-decoration: none;
  display: block;
  margin-top: 40px;
}
div#aboutUs div.approve {
  background: url(../images/aboutus/cardbg.jpg) center no-repeat;
  width: 100% !important;
}
div#aboutUs div.approve h2 {
  padding-top: 100px !important;
}
div#aboutUs div.approve div.card-wrap ul {
  width: 875px;
  margin: 0 auto;
  margin-top: 70px;
}
div#aboutUs div.approve div.card-wrap ul li {
  width: 335px;
  height: 220px;
  padding: 35px 10px 0 10px;
  box-shadow: -10px 10px rgba(0, 0, 0, 0.09);
  margin-bottom: 40px;
  background: #fff;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
}
div#aboutUs div.approve div.card-wrap ul li h4 {
  font-size: 20px;
  line-height: 35px;
  margin-left: 90px;
}
div#aboutUs div.approve div.card-wrap ul li span {
  font-size: 20px;
  line-height: 35px;
  margin-left: 90px;
}
div#aboutUs div.approve div.card-wrap ul li p {
  font-size: 20px;
  line-height: 35px;
  text-align: left;
  margin-top: 35px;
}
div#aboutUs div.approve div.card-wrap ul li img {
  width: 70px;
  height: 70px;
  position: absolute;
}
div#aboutUs div.about-des {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
}
div#aboutUs div.about-des > img {
  margin-top: 80px;
  position: relative;
  left: 50%;
  margin-left: -587.5px;
}
div#aboutUs div.about-des h2 {
  font-size: 35px;
  color: #000;
  text-align: center;
  padding: 35px 0;
  font-weight: normal;
}
div#aboutUs div.about-des p {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}
div#aboutUs div.top-banner {
  background: url(../images/aboutus/about1.jpg) no-repeat;
  background-size: 100%;
  height: 800px;
}
div#aboutUs div.top-banner h2 {
  font-size: 35px;
  text-align: center;
  color: #fff;
  padding-top: 35px;
  font-weight: normal;
}
div#aboutUs div.top-banner p {
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  width: 1140px;
  position: relative;
  left: 50%;
  margin-left: -570px;
  margin-top: 50px;
}
div#aboutUs div.top-banner span a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 120px;
}
div#aboutUs div.top-banner > img {
  width: 175px;
  position: relative;
  left: 50%;
  margin-left: -87px;
  padding-top: 180px;
}

.per-a {
  background: url(../images/aboutus/1.jpg) no-repeat;
}

.per-b {
  background: url(../images/aboutus/2.jpg) no-repeat;
}

.per-c {
  background: url(../images/aboutus/3.jpg) no-repeat;
}

.per-d {
  background: url(../images/aboutus/4.jpg) no-repeat;
}

.per-e {
  background: url(../images/aboutus/5.jpg) no-repeat;
}

